include ./mixins.pug

a#name(href="#") Bob Cobb
p.sub-title Web, UI/UX, Developer

+mainNav

ul#social-menu
  li
    a#dribbble(href="#")
      img(src="img/blue_icon.png")
  li
    a#behance(href="#")
      img(src="img/green_icon.png")
  li
    a#twitter(href="#")
      img(src="img/robot_icon.jpg")