include ./mixins.pug

a#name(href="#") Bob Cobb
p.sub-title Web, UI/UX, Developer

+mainNav

ul#social-menu
  li
    a#dribbble(href="#")
      img(src="images/blue_icon.png")
  li
    a#behance(href="#")
      img(src="images/gree_icon.png")
  li
    a#twitter(href="#")
      img(src="images/robot_icon.png")